table {
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
}
#board {
    height: 75vh;
    width: 75vh;
}
td {
    color: black;
    border: 2px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 4vh;
    font-family: Verdana, serif;
}
.defined {
    background-color: darkgray;
}